body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
}
#top_headings{
    padding-top: 80px;
    padding-bottom: 80px;
    
}
#Heading1,#Heading2{   
    text-align: right;
    padding-right: 60px;
    color:white;
}
#Heading1{  
    font-weight: bold;
    font-size: 40px;
    margin-top: 20px;
    padding-top: 10px;
}

#Heading2{  
    font-size: 45px;  
}

#top_headings{
    background-image: url('HeaderImg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#para1{
    background-color:whitesmoke;
    font-size: 25px;
    padding: 25px 30px;
}

#info_Points{    
    display: table;
    margin: 0 auto;
    font-size: 23px;
    margin-top: 20px;
}

tr:nth-child(odd) {
    font-weight: bold;
    background-color: aliceblue;
  }

#main_div div:nth-child(odd){
    font-size: 18px;
    float:left;
    width:50%;
    
}

#main_div div:nth-child(even){
    font-size: 18px;
    margin-top: 20px;
    float:right;
    width:50%;
    
}